body { background: #c0a4cb; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 48px; display: flex; }
.block-product-0 { color: #6379fe; font-size: 17px; margin-bottom: 5px; }
.block-filter-1 { color: #dd41d8; font-size: 21px; margin-bottom: 5px; }
.block-logger-2 { color: #21afa1; font-size: 13px; margin-bottom: 5px; }
.block-router-3 { color: #70267; font-size: 18px; margin-bottom: 5px; }
.block-helper-4 { color: #f5f26e; font-size: 12px; margin-bottom: 5px; }